* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  border: #acacac;
}
.v1_141 {
  width: 515px;
  height: 766px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  opacity: 1;
  position: relative;
  top: 30px;
  left: 500px;
  bottom: auto;
  /* overflow : hidden; */
}

.v1_89 {
  width: 515px;
  height: 666px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_138 {
  width: 201px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 581px;
  left: 157px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
  white-space: nowrap;
}
.v1_139 {
  width: 66px;
  color: rgba(141, 141, 141, 1);
  position: absolute;
  top: 615px;
  left: 204px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_90 {
  width: 80px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 48px;
  left: 217px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_123 {
  width: 374px;
  height: 56px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 70px;
  overflow: hidden;
}
.v1_94 {
  width: 374px;
  height: 56px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(173, 173, 173, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1_95 {
  width: 80px;
  color: rgba(172, 172, 172, 1);
  position: absolute;
  top: 19px;
  left: 60px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_96 {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 17px;
  overflow: hidden;
}
.v1_97 {
  width: 18px;
  height: 11px;

  opacity: 1;
  position: absolute;
  top: 11px;
  left: 3px;
  border: 2px solid rgba(172, 172, 172, 1);
}
.v1_98 {
  width: 10px;
  height: 9px;

  opacity: 1;
  position: absolute;
  top: 2px;
  left: 7px;
  border: 2px solid rgba(172, 172, 172, 1);
}
.v1_124 {
  width: 374px;
  height: 56px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 306px;
  left: 70px;
  overflow: hidden;
}
.v1_125 {
  width: 374px;
  height: 56px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(173, 173, 173, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1_126 {
  width: 150px;
  color: rgba(172, 172, 172, 1);
  position: absolute;
  top: 17px;
  left: 60px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_127 {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 17px;
  overflow: hidden;
}
.v1_128 {
  width: 18px;
  height: 11px;

  opacity: 1;
  position: absolute;
  top: 11px;
  left: 3px;
  border: 2px solid rgba(172, 172, 172, 1);
}
.v1_129 {
  width: 10px;
  height: 9px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 7px;
  border: 2px solid rgba(172, 172, 172, 1);
}
.v1_131 {
  width: 374px;
  height: 56px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 391px;
  left: 70px;
  border: 1px solid rgba(173, 173, 173, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1_132 {
  width: 120px;
  color: rgba(172, 172, 172, 1);
  position: absolute;
  top: 408px;
  left: 130px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_122 {
  width: 374px;
  height: 56px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 70px;
  overflow: hidden;
}
.v1_91 {
  width: 374px;
  height: 56px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_92 {
  width: 374px;
  height: 56px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(173, 173, 173, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1_93 {
  width: 45px;
  color: rgba(172, 172, 172, 1);
  position: absolute;
  top: 18px;
  left: 60px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_99 {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 17px;
  overflow: hidden;
}
.v1_100 {
  width: 20px;
  height: 16px;

  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
  border: 2px solid rgba(172, 172, 172, 1);
}
.v1_101 {
  width: 20px;
  height: 7px;

  opacity: 1;
  position: absolute;
  top: 6px;
  left: 2px;
  border: 2px solid rgba(172, 172, 172, 1);
}
.v1_102 {
  width: 419px;
  height: 68px;
  background: rgba(0, 135, 233, 1);
  padding: 20px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 490px;
  left: 47px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1_103 {
  width: 88px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 20px;
  left: 145px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_136 {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 407px;
  left: 87px;
  overflow: hidden;
}
.v1_137 {
  width: 19px;
  height: 19px;

  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 2px solid rgba(173, 173, 173, 1);
}
.name {
  color: #fff;
}
