@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    font-family: 'Architects Daughter', cursive;
}

.register{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #d4cf40, #d3d766, #d4df87, #d7e5a6, #deebc3);
}

.register-heading{
    font-size: 2.5rem;
    font-weight: bold;
    color:black;
    text-align: center;
    margin-top: 0;
}


form{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    margin-left: 175px;
    border-radius: 4px;
}

.register-heading{
    font-size: 2em;
    margin-top: 30px;
    text-align: center;
}

input{
    margin-top: 10px;
    border-radius: 5px;
    height: 30px;
    border-radius: 7px;
}


.register-button{
    margin:10px auto;
    border-radius: 5px;
    height: 30px;
    background-color: gray;
    color: white;
    width: 100px;
}

.register-login{
    text-align: center;
    margin-top: 10px;
}